<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/SEO", {
        description: `Esta es la página inicial por ahora`,
        page: "About"
    }) %>
    <%- include("partials/styles", {path: path}) %>
    <link rel="stylesheet" type="text/css" href="<%=path%>css/typing.css">
    <link rel="stylesheet" type="text/css" href="<%=path%>css/components/about.css">
</head>
<body>
    <div id="root">
        <header>
            <%- include("partials/nav", {path: path}) %>
            <h1 class="maximum-title">About Me</h1>
        </header>
        
        <div class="badges">
            <h2>My badges</h2>
            <div class="contain-badges">
                <% for(badge of badges) { %>
                    <div class="insign">
                        <a href="<%=badge.link%>"><img src="<%=badge.link%>" alt="<%=badge.name%>"></a>
                    </div>
                <%}%>
            </div>
        </div>
        <main class="info">
            <div class="main-head">
                <div class="main-thumbnail">
                    <img src="<%=path%>assets/imgs/me.jpg" alt="Isaí Medina">
                </div>
                <h3>Sobre mí</h3>
            </div>
            <div class="main-body">
                <p class="main-info">
                    Hola, mi nombre es <b>Isaí Medina</b>, soy un programador web (web developer) 
                    fullstack, trabajo con sitios web desde febrero del 2022, estoy ubicado en <b>Santa Catarina - Brasil</b>, 
                    mi especialidad de trabajo está parcialmente indefinida aún. <br>
                    Soy formado en diseño web frond-end y especializado en desarrollo back-end, 
                    me gusta mas el desarrollo back-end, sin embargo también acepto desafios 
                    orientados al apartado visual (UX-UI). <br><br><br>
                    He hecho algunos mini-projectos para construir mi <b>Portfolio</b>, no obstante 
                    sigo abierto a los deafios mayores que pueda haber. <br>
                    Me gusta mucho aprender mientras trabajo, hago lo posible para clumpir las espectativas de 
                    mis clientes, me gusta enfocarme y esforzarme mucho en la calidad de tiempo de trabajo y no 
                    desperdiciar tiempo, he aprendido y aplicado todo lo que me han enseñado mis tutores, me gusta 
                    trabajar en equipo con mis colegas de estudio en la plataforma <a href="https://aluracursos.com" class="text-link">Alura</a>, 
                    me enfoco bastante en la puntualidad de mis asignaciones. <br><br>
                    Puedo realizar trabajos con las tecnologías: <b>React, Nodejs, Express, HTML5 & CSS3</b><br>
                    Y también puedo incluir manejo de bases de datos como: <b>MongoDB & MySQL</b><br><br>
                    Estoy esperando cualquier desafío.
                </p>
                <a href="/contact" class="main-button"><i class="fa fa-phone"></i> Contáctame</a>
            </div>
        </main>
        <div class="formation" id="academy">
            <div class="formation-title">
                <span>Formación</span>
            </div>
            <div class="formation-body">
                <a class="academy-name" href="https://alura.com.br">Alura Academia Informática Online</a>
                <div class="container-4">
                    <%for (curse of curses) {%>
                        <div class="curse">
                            <div class="curse-thumbnail">
                                <img src="<%=curse.image%>" id="curse-thumnail" alt="<%=curse.name%>">
                            </div>
                            <div class="curse-body">
                                <span><%=curse.name%></span>
                                <p>
                                    <%=curse.descript%>
                                </p>
                            </div>
                            <div class="curse-footer">
                                <a href="<%=curse.link%>" class="curse-link">Certificado</a>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>


        <%- include("partials/footer", {path: path, year: new Date().getFullYear()}) %>
        <script>current = 'aboutme';</script>
    <%- include("partials/scripts", {path: path}) %>
    </div>
</body>
</html>